.jumbotron{
	background-color: #71A5F9;
	color: black;
	margin-top: 50px;
	background-size: cover;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #4A4A4A;
	margin-bottom: 0px;
	margin-top: 15px;
	color: #9B9B9B;
}
.card-hotel{
	flex: 1 200px;
	color: black;
	
}
.card-body{
	padding: 0;
	
}
.btn-info{
	width: 100%;
	border-radius: 0;
}

.nav-link{
	color: white;
	
}
img{
	width: 100%;
	height: auto;
}

#imgcard {
	width: 100% !important;
	height: auto;
}
#imgcarddown {
	width: 100% !important;
	height: auto;
}
